<!-- <app-reactive-form></app-reactive-form>
<app-template-form></app-template-form> -->

<style>
    .nav{
        background-color: aqua;
    }
</style>

<nav>
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Reactive-form</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/Template-Form" routerLinkActive="active">Template-Form</a></li>
      </ul>
</nav>

 <router-outlet></router-outlet> 
